{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="row marketing">
<div class="col-gl-12">
<h1>質問してみる</h1>

<form action="/ask" method="post">
{% csrf_token %}

{% if form.non_field_errors or form.text.errors or form.profile.errors %}
<div class="alert alert-danger" role="alert">入力は必須です。</div>
{% endif %}

<p><input class="form-control" style="width: 80%; display: inline;" name="text" type="text" maxlength="1024" value="" placeholder="今期のおすすめアニメ"> 教えて！</p>
<p>プロフィール（任意）: <input class="form-control" style="width: auto; display: inline;" name="profile" type="text" maxlength="256" value="" placeholder="20代男性">
   <input class="btn btn-default" type="submit" value="送信する"></p>
</form>

</div>
</div>


{% endblock %}
