{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron">
  <h1>Ask anything.</h1>
  <p class="lead">インターネットに聞いてみよう。</p>
  <p><a class="btn btn-lg btn-success" href="/ask" role="button">質問してみる</a></p>
</div>

<div class="row marketing">
<div class="col-lg-6">
<h2><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> 人気の質問</h2>

<p><a href="/popular">人気の質問をもっと見る</a></p>
</div>

<div class="col-lg-6">
<h2><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> 新しい質問</h2>

<p><a href="/latest">新しい質問をもっと見る</a></p>
</div>
</div>


{% endblock %}
